.banner {
  height: 50vh;
  width: 100%;
  align-content: center;
  position: relative;


  .content {
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 2rem;
    color: var(--orange);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--black);
  }


  .image {
    background-image: url('../assets/images/banner_mobile.png');
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;

  }
}

@media screen and (width>768px) {
  .banner {
    .image {
      background-image: url('../assets/images/banner_image.png');
    }
  }

}