
.skills {
    
    .skillsList{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        place-content: center;
        gap: 1.5rem;
        
        .item_skills{
            font-family:'Arial Narrow', Arial, sans-serif;
            font-size: 1rem;
            font-weight: 200;
        }
        #pintura{
            --progressVar: 100%
        }
        #oleo{
            --progressVar: 85%
        }
        #dibujo{
            --progressVar:60%
        }
        #carboncillo{
            --progressVar:75%
        }
        #fresco{
            --progressVar:40%
        }
        #escritura{
            --progressVar:80%
        }
    }
    
}

.wrapper {
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 10vh;
    
}

.progress-bar{
    width: 100%;
    height: 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 0.5px solid var(--skyblue);
    padding: 3px;
}


.progress {
    height: 100%;
    background-color: var(--skyblue);
    border-radius: 10px;
    animation: animate 1.5s linear forwards;
}



@keyframes animate{
    0% {
        width: 0%;
    }
    100%{
        width: var(--progressVar);/*creamos la variable progress para rellenar la barra con porcentajes diferentes en cada skill*/
    }
}




@media screen and (width>768px) {
    .skills{
        
        .skillsList{
            margin: 1.2em;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;  
        }
    }
    .title{
        font-size: 1.7rem;
    }
    
    
}





