:root{
    --black: #000000;
    --white: #FFFFFF;
    --midnightblue: #191970;
    --skyblue: #87CEEB;
    --orange: #FFA500;
    --gold: #FFD700;
    
     
    --font-cascadia_code: 'Cascadia Code';
    --font-sans_serif: 'sans-serif';
}

