:root{
    --black: #000000;
    --grey: #1c1c1c;
    --white: #FFFFFF;
    --midnightblue: #191970;
    --skyblue: #87CEEB;
    --orange: #FFA500;
    --gold: #FFD700;
    
     
    --main-font-family: "Cascadia Code", Arial,sans-serif;
    font-size: 18px; 
}

.titulo {     
    font-size: 22px ;
    color: var(--skyblue);
    margin: 1.2em;
}


@media screen and (width > 768px) {
    .pointer { /* Creamos la clase pointer q habria q añadirla a los elementos que queremos NO FUNCIONA*/
        cursor: pointer;
    }
}

